# jupyter
.ipynb_checkpoints
**/*.ipynb_checkpoints
**/__pycache__/

# nodejs
**/node_modules

# data
**/data/
**/*.json
**/*.csv
**/*.img
**/*.jpg
**/*.png
**/*.JPG
**/*.PNG
**/*.jpeg
**/*.pdf
**/*.mat
**/*.zip
**/*.db
**/*ubyte
**/*.data
**/*.docx
**/*.xlsx

# unnecessary
zzz*/
