.ipynb_checkpoints
**/*.ipynb_checkpoints
**/__pycache__/
**/data/
**/*.json
**/*.csv
**/*.img
**/*.jpg
**/*.png
**/*.JPG
**/*.PNG
**/*.jpeg
**/*.pdf
**/*.mat
**/*.zip
**/*.db
**/*ubyte
**/*.data
**/*.docx
**/*.xlsx
z*/
**/node_modules